.styles_panel {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,1,1);
    background-image: linear-gradient(0deg, hsla(0, 0%, 7%, .5), hsla(0, 0%, 7%, .4) 51%, hsla(0, 0%, 7%, 0));
    background-position: 0 80%;
    background-size: 200% 200%;
}

.styles_panel:hover {
    background-position: 0 0;
} 