.titleBase{
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Montserrat', system-ui;
    font-weight: 600;
}
.titleBase1{
    color: #ffffff;
    background-color: #004AB8;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', system-ui;
    font-weight: 800;
    margin: 15px;
    width: 300px;
    height: 28px;
    border-radius: 20px;
    box-shadow: 0px 8px #eb455fcc;
}

.iconoDestinos {
    background-color: transparent;
    transition: 0px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.8s;
}


.iconoDestinos:hover {
    background-color:  #004AB8;
    color: none;
    border-radius: 20px;
    border: 0px;
    transform: scale(1.2)
}

.iconoDestinos img{
    width: 100%;
    left: 100%;
}

.banner{
    background-color: #004AB8;
    border-radius: 0px 0px 20px 20px;
    width: 850px;
    margin: auto;
}
.banner div {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 100%; 
}

/*.demo{
    background-color: #f0f0f0;
}

.contenido{
    border: Solid 1px #000;
}
*/
.caja{
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    min-height: 40vh;
}

/*Tarjeta de los emprendimientos*/
.card{
    position: relative;
    /*Ancho*/
    width: 250px;
    /*Largo*/
    height: 250px;
    /*Espacio entre las tarjetas*/
    margin: 15px;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.9s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 70%);
}

.card .front img{
    position: absolute;
    /*Width of the imagen*/
    width: 100%;
    /*Heigh of the imagen*/
    height: 100%;
    /**/
    object-fit: cover;
}

.card .front h4{
    position: absolute;
    /* Mover el texto en el eje y (arriba (+) and abajo(-))*/
    bottom: 0px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color:#fff;
    background-color: rgba(0, 0, 0, 60%);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(0, 0, 0, 100%);
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0,5px 10px #000;
    font-size: 10px;
}

.card .back .link{
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
}

.card .back .link a {
    color: #ffff;
    margin: auto;
}


.card .back h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #ffff; 
    margin-top: 5px;
}

.card .back p {
    font-size: 12px;
    margin-top: 20px;
    color: #ffff;  
    margin-top: 0px;
    margin-bottom: 0px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}  


.emprendimientos{
    color: #fff;
    border-radius: 0px;
    border: solid 1px  #fff;
    transition: .6s;
    font-size: 12px;    
}
.emprendimientos:hover{
    color: #000000;
    border-radius: 0px;
    border: 0px;
    background-color: #fff;
}

/* Ajustes responsivos */
/* Se aplicara solo si la panatalla es menor o igual a 768px*/
@media (max-width: 768px) {
    .banner{
        width: auto;
        height: 150px;
        margin: auto;
    }
    .iconoDestinos{
        width: 30px;
        height: 30px;
    }
    .iconoDestinos img {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 890px) and (min-width: 768px) {
    .banner{
        width: 550px;
        height: 150px;
        margin: auto;
    }
    .iconoDestinos{
        width: 15px;
        height: 10px;
    }
    .iconoDestinos img {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1200px ) and (min-width: 890px){
    .banner{
        width: 700px;
        height: 160px;
        margin: auto;
    }
    .iconoDestinos{
        width: 15px;
        height: 10px;
        margin: 25px 30px 0px 50px;
    }
    .iconoDestinos img {
        width: 60px;
        height: 60px;
    }
}
